#dashboard .dashboard-content {
  margin-top: 1.5rem;
}

#dashboard .analysis-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

#dashboard .analysis-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  row-gap: .65rem;
  border-radius: 5px;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, .05),
              0 0 16px rgba(0, 0, 0, .05),
              0 0 32px rgba(0, 0, 0, .05),
              0 0 64px rgba(0, 0, 0, .05);
  transform: scale(1);
}

@supports (transition: transition) {
  #dashboard .analysis-card {
    transition: transform 0.5s cubic-bezier(1, 0.18, 0.6, 1.1);
  }
}

#dashboard .analysis-card:hover {
  transform: scale(1.05);
}

#dashboard .card-icon {
  display: flex;
  column-gap: 1.35rem;
}

#dashboard .card-icon_pri {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: .65rem;
  box-shadow: 10px 0 4px rgba(0, 0, 0, .05),
              0 10px 16px rgba(0, 0, 0, .05),
              10px 10px 32px rgba(0, 0, 0, .05),
              0 10px 64px rgba(0, 0, 0, .05);
}

#dashboard .analysis-card:nth-child(1) .card-icon_pri {
  color: var(--accent-blue);
}
#dashboard .analysis-card:nth-child(2) .card-icon_pri {
  color: var(--green);
}
#dashboard .analysis-card:nth-child(3) .card-icon_pri {
  color: var(--orange);
}

#dashboard .card-icon_sec {
  display: flex;
  align-items: center;
  column-gap: .45rem;
}

#dashboard .card-icon_sec.green {
  color: var(--green);
}
#dashboard .card-icon_sec.orange {
  color: var(--orange);
}

#dashboard .analysis-card h3 {
  color: rgb(177, 177, 177);
  font-weight: 500;
}
#dashboard .analysis-card h2 {
  color: var(--dark-blue);
}

.dashboard-charts {
  width: 100%;
  display: grid;
  grid-template-columns: 2.05fr 1fr;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.dashboard-charts .bar-chart,
.doughnut-chart {
  background-color: #fff;
  border-radius: 5px;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, .05),
              0 0 16px rgba(0, 0, 0, .05),
              0 0 32px rgba(0, 0, 0, .05),
              0 0 64px rgba(0, 0, 0, .05);
}

.bar-chart_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .75rem;
}

.bar-chart_header p {
  color: var(--dark-blue);
}

.bar-chart_header .bar-select {
  display: flex;
  column-gap: .5rem;
}

.bar-chart_header select {
  border: none;
  outline: none;
  color: var(--dark-blue);
}

.bar-chart_footer {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
  margin-top: .75rem;
  margin-left: 1.35rem;
}

.bar-chart_footer div {
  display: flex;
  align-items: center;
  column-gap: .5rem;
}

.bar-chart_footer div:nth-child(1) {
  color: #CFEBFC;
}
.bar-chart_footer div:nth-child(2) {
  color: #109CF1;
}

.bar-chart_footer div span {
  color: #929292 !important;
}