@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-blue: #109CF1;
  --dark-blue: #334D6E;
  --filter-gray: #6A707E;
  --green: #34C988;
  --orange: #FF6F32;
}

html, body {
  height: 100%;
}

body { 
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #F5F6F8;
  font-family: 'Poppins', sans-serif;
  line-height: 1.3;
}

img, 
svg {
  display: block;
  max-width: 100%;
}

input, 
button, 
textarea, 
select {
  font: inherit;
}

a {
  text-decoration: none;
  outline: none;
}

#page-wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "sidenav header"
    "sidenav main";   
}

main {
  grid-area: main;
  padding: 2rem 3rem;
  overflow-y: scroll;
}

.page-title {
  color: var(--filter-gray)
}

/* --- Other CSS Files --- */
@import url(./Dashboard.css);
@import url(./SideNav.css);
@import url(./Header.css);